@import '../../variables';

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: url(../../assets/images/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: bottom;
  .blob {
    position: absolute;
    top: 15%;
    left: -10px;
    // width: 0%;
    z-index: -1;
  }
  .intro {
    margin: 42px;
    .head {
      font-family: 'Righteous';
      font-size: 30px;
      color: $primary-color;
    }
    .tag {
      color: $secondary-color;
      font-size: 15px;
    }
  }
  .cakes {
    display: flex;
    position: relative;
    margin-bottom: 42px;

    /* width */
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      padding: 42px;
      border-radius: 100px;
      // display: none;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $secondary-color;
      border-radius: 100px;
    }

    /* Handle on hover */
    // ::-webkit-scrollbar-thumb:hover {
    //   // background: #555;
    // }
    .controlBtn {
      position: absolute;
      height: 80%;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.right {
        right: 0;
      }
    }
  }
  .foot {
    padding-left: 42px;
    margin-bottom: 50px;
  }
}