@import '../_variables.scss';

body {
  margin: 0;
  font-family: "Karla";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-color;
  display: flex;
  flex-direction: column;
  flex: 1;
}
