$primary-color:#8F4EBC;
$secondary-color:#F16FD3;
$secondary-light: rgba(#F16FD3, 0.8);
$secondary-light2: #FCDFE9;
$white:#fff;
$black:#000;
$shadow-hover: 0px 4px 52px rgba($primary-color, 0.8);
$shadow: 0px 4px 52px rgba($primary-color, 0.5);